<script id="modal_tpl" type="text/html">
  <div id="{{id}}_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 id="settingsModalLabel">Profile settings</h4>
    </div>
    <div class="modal-body">
      For now everything is alright!
    </div>
    <div class="modal-footer">
      <button class="btn  btn-embossed" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary btn-embossed">Save</button>
    </div>
  </div>
</script>