<div id="newStream" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newStreamLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="newStreamLabel">New stream</h4>
  </div>
  <div class="modal-body">
    <form class="login-form" novalidate>
      <div class="control-group huge">
        <div class="controls">
          <input class="input-block-level login-field flat" value="" type="text" minlength="4" id="newStreamTitle" placeholder="Ali the old chap">
          <label class="login-field-icon fui-tag"></label>
          <p class="help-block"></p>
        </div>
      </div>
      <div class="control-group huge">
        <div class="controls">
          <input class="input-block-level login-field flat" value="" type="text" minlength="4" id="newStreamDescription" placeholder="He is a cool guy">
          <label class="login-field-icon fui-document"></label>
          <p class="help-block"></p>
        </div>
      </div>
      <div class="control-group huge">
        <div class="controls">
          <span class="label label-warning">http://dailydetail.com/stream/</span>
          <input class="input-block-level login-field flat" value="" type="text" minlength="4" id="newStreamUrl" placeholder="ali_the_old_chap">
          <label class="login-field-icon fui-link"></label>
          <p class="help-block"></p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button id="createStream" class="btn btn-primary btn-large btn-embossed btn-block">Create</button>
    <a href="#" class="login-link"  data-dismiss="modal" aria-hidden="true">Cancel</a>
  </div>
</div>