<div id="streamSettingsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="streamSettingsModalLabel" aria-hidden="true">
</div>
<script id="streamSettings_tpl" type="text/html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="streamSettingsModalLabel">Stream settings</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" novalidate>
      <div class="control-group">
        <label class="control-label" for="putStreamTitle">Title</label>
        <div class="controls">
          <input value="{{title}}" type="text" minlength="4" id="putStreamTitle" placeholder="Ali the old chap">
          <p class="help-block"></p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="putStreamDescription">Tagline</label>
        <div class="controls">
          <input value="{{description}}" type="text" minlength="4" id="putStreamDescription" placeholder="He is a cool guy">
          <p class="help-block"></p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="putStreamUrl">Url</label>
        <div class="controls">
          <input value="{{url}}" type="text" minlength="4" id="putStreamUrl" placeholder="He is a cool guy">
          <p class="help-block"></p>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn  btn-embossed" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="putStream" class="btn btn-primary btn-embossed" data-subject="{{_id}}">Save</button>
  </div>
</div>
</script>