<div id="uploadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
</div>
<script id="upload_tpl" type="text/html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="uploadModalLabel">Upload picture</h4>
  </div>
  <div class="modal-body">
    <form id="uploadForm" class="login-form" enctype="multipart/form-data">
      <div class="control-group huge">
        <div class="controls">
          <input type="file" name="upload" id="newPictureUpload">
          <label class="login-field-icon fui-photo"></label>
        </div>
      </div>
      <div class="control-group huge">
        <div class="controls">
          <input class="input-block-level login-field flat" value="" name="title" type="text" minlength="4" id="newPictureTitle" placeholder="Description">
          <label class="login-field-icon fui-document"></label>
          <p class="help-block"></p>
        </div>
      </div>
      <div id="progress" class="progress"><div class="bar" style="width: 0%;"></div></div>
    </form>
  </div>
  <div class="modal-footer">
    <button id="savePicture" class="btn btn-primary btn-large btn-embossed btn-block" data-subject="{{_id}}">Upload</button>
    <a href="#" class="login-link"  data-dismiss="modal" aria-hidden="true">Cancel</a>
  </div>
</script>