<div class="stream">
  <div class="previews faden">
    <div class="preview deg30"></div>
    <div class="preview deg30m"></div>
    <div class="preview"></div>
    <div class="default">
      <h4><a href="#newStream" role="button" data-toggle="modal">Create new</a></h4>
    </div>
  </div>
</div>
