<% include ../modals/newstream %>
<% include ../modals/streamsettings %>
<% include ../modals/deletestream %>
<% include ../modals/upload %>
<% include ../modals/settings %>

<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/handlebars.js"></script>
<script src="/js/jqBootstrapValidation.js"></script>
<script type="text/javascript">

  var stream = <%- typeof stream !== 'undefined' ? JSON.stringify(stream) : false %>;

  $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );

  function Stream(id) {
    this.id = id;
  }
  Stream.prototype.delete = function() {};
  Stream.prototype.update = function() {};

  function Template(tpl, data) {
    var template = $("#"+tpl).html();
    return (Handlebars.compile(template))(data);
  }

  function go(el, modal, template) {
    $(el).live('click', function(){
      var id = $(this).parent().attr('data-subject');
      // Store in memory somehow
      var title = $(this).parent().attr('data-title');
      var url = $(this).parent().attr('data-url');
      var description = $(this).parent().attr('data-description');
      $(modal)
          .html(Template(template,{_id: id, title: title, description: description, url: url}))
          .modal('show');
    });
  }

  jQuery(document).ready(function($) {

    function progressHandlingFunction(e){
      if(e.lengthComputable){
        $('#progress').attr({value:e.loaded,max:e.total});
      }
    }

    $('#newPictureUpload').live('change', function(){
      console.log(this);
      var file = this.files[0];
      name = file.name;
      size = file.size;
      type = file.type;
      //your validation
    });
    $('#savePicture').live('click', function(){
      var formData = new FormData(document.getElementById('uploadForm'));
      var id = $(this).attr("data-subject");
      $.ajax({
        url: '/api/v1/stream/'+id,  //server script to process data
        type: 'POST',
        xhr: function() {  // custom xhr
          var myXhr = $.ajaxSettings.xhr();
          if(myXhr.upload){ // check if upload property exists
            myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // for handling the progress of the upload
          }
          return myXhr;
        },
        //Ajax events
        success: function(data) {
          console.log("done", data);
          $(".modal").modal('hide');
        },
        // Form data
        data: formData,
        //Options to tell JQuery not to process data or worry about content-type
        cache: false,
        contentType: false,
        processData: false
      });
    });

    go(".go-delete", "#deleteStreamModal", "deleteStream_tpl");
    go(".go-settings", "#streamSettingsModal", "streamSettings_tpl");
    go(".go-upload", "#uploadModal", "upload_tpl");

    $('#deleteStream').live('click', function(e){
      var id = $(this).attr("data-subject");

      $.ajax("/api/v1/stream/" + id, { type: "DELETE", success: function(data) {
        console.log(data);
        var stream = new Stream(id);
        stream.delete();
        $(".modal").modal('hide');
      }})
    });

    $('#createStream').live('click', function(){
      var titleEl = $("#newStreamTitle");
      var descEl = $("#newStreamDescription");
      var urlEl = $("#newStreamUrl");

      var toSend = {
        title: titleEl.attr("value"),
        description: descEl.attr("value"),
        url: urlEl.attr("value")
      };
      console.log(toSend);
      $.post("/api/v1/stream", toSend, function(data) {
        console.log(data);
        $(".modal").modal('hide');
      });
    });

    $('#putStream').live('click', function(){
      var id = $(this).attr("data-subject");
      var titleEl = $("#putStreamTitle");
      var descEl = $("#putStreamDescription");
      var urlEl = $("#putStreamUrl");

      var toSend = {
        title: titleEl.attr("value"),
        description: descEl.attr("value"),
        url: urlEl.attr("value")
      };

      $.ajax("/api/v1/stream/"+id, { data: toSend, type: "PUT", success: function(data) {
        console.log(data);
        var updatedStream = new Stream(id);
        updatedStream.update(data);
        $(".modal").modal('hide');
      }});
    });

    $(".stream").draggable({
      cursor: "move",
      revert: "invalid",
      start: function(event, ui) {
        $("#droppable").addClass("active");
      },
      stop: function(event, ui) {
        $("#droppable").removeClass("active");
      }
    });

    $( "#droppable" ).droppable({
      //accept: ".stream",
      activeClass: "ui-state-hover",
      hoverClass: "ui-state-active",
      drop: function( event, ui ) {
        $(ui.draggable).hide();
        $( this )
            .addClass( "ui-state-highlight" )
            .find( "p" )
            .html( "Dropped!" );
      }
    });
  });
</script>

</body>
</html>