<nav class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="active"><a href="#">Stream</a></li>
        <li><a href="#">Add new</a></li>
        <li><a href="#">Comments <span class="label">0</span></a></li>
        <li><a href="#">Graphs</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>
  </div>
</nav>