
<div class="span8 offset3" id="wrapper">
  <header>
    <input type="text" name="search" class="input-block-level flat " value="" placeholder="Want to look something in particular?" id="login-pass">
  </header>
  <div class="streams">
    <% streams.forEach(function(stream){ %>
      <% include ./streamunit %>
    <% }) %>
    <% if (String(page._id) == String(user._id) ) { %>
    <% include ./createnew %>
    <div id="droppable">
      <span class="icon fui-trash"></span>
    </div>
    <% } %>
  </div>
</div>