<header id="user_action">
  <a href="/"><span class="fui-home"></span></a>
  <a href="#newStream" role="button" data-toggle="modal"><span class="fui-plus"></span></a>
  <a href="/streams"><span class="fui-user"></span></a>
  <a href="/logout"><span class="fui-power"></span></a>
</header>