      <div id="user-actions" class="pull-right">
        <button class="btn btn-info">Watch <span class="label label-info">0</span></button>
        <button class="btn btn-warning">Stars <span class="label label-warning">0</span></button>
        <button class="btn btn-success">Fork <span class="label label-success">0</span></button>
      </div>