<header>
  <a href="/"><span class="fui-home"></span></a>
  <a href="/logout"><span class="fui-plus"></span></a>
  <a href="/settings"><span class="fui-list"></span></a>
  <a href="/settings"><span class="fui-gear"></span></a>
</header>