<header id="user_action">
  <a href="/"><span class="fui-home"></span></a>
  <a href="#newStream" role="button" data-toggle="modal"><span class="fui-plus"></span></a>
  <a href="/settings"><span class="fui-list"></span></a>
  <a href="#settingsModal" role="button" data-toggle="modal"><span class="fui-gear"></span></a>
</header>