<ul class="user-list">
  <li><strong><i class="fui-heart"></i>&nbsp;&nbsp; Testa</strong>: 30</li>
  <li><strong><i class="fui-eye"></i>&nbsp;&nbsp; Watching</strong>: 30</li>
  <li><strong><i class="fui-image"></i>&nbsp;&nbsp; Foci</strong>: 30</li>
  <li><strong><i class="fui-photo"></i>&nbsp;&nbsp; Pics</strong>: 30</li>
</ul>