<% include partials/head %>

<div class="container">
  <div class="login-icon span2 offset2">
    <h4>It is not your fault<small>You are now lost</small></h4>
    <a class="btn btn-info" href="/">Come back home</a>
    <br/><br/><br/>
    <img class="icon" src="/images/icons/Compas@2x.png" alt="">
  </div>
</div>
<% include partials/foot %>