<% include partials/head %>
<% include partials/user_actions %>
<div class="container" id="wrapper">
  <div class="streams">
  <% streams.forEach(function(stream){ %>
    <% include partials/streamunit %>
  <% }) %>
  </div>
</div>

<% include partials/foot %>