<% include partials/head %>

<div class="container">
  <header>
    <div class="masthead">
      <% include partials/user_actions %>
      <h3 class="muted"><%- linkUser(stream.user) %> / <%- linkStream(stream)%></h3>
      <% include partials/nav %>
    </div>
  </header>
  <footer></footer>
</div>

<% include partials/foot %>