<% include partials/head %>

<div class="row-fluid">
  <div id="sidebar" class="span3 side">
    <% include partials/user_actions %>
    <div class="roundface" style="background-image: url(<%= pictureUrl(page) %>)"></div>
    <h4 class="muted"><%- linkUser(page)%></h4>
    <!--<div class="btn-col">
      <a href="#fakelink" class="btn btn-huge btn-block btn-success btn-embossed">Focus</a>
    </div>-->
  <% include partials/user_list %>
  </div>
  <% include partials/streams %>
</div>

<% include partials/foot %>