<% include partials/head %>

<div class="container">
  <header>
    <div class="masthead">
      <% include partials/user_actions %>
      <h3 class="muted"><%= page.username%></h3>
    </div>
  </header>
  <div id="wrapper">
    <% streams.forEach(function(stream){ %>
    <strong><%= stream %></strong>
    <% }) %>
  </div>
  <footer></footer>
</div>

<% include partials/foot %>