#sidebar {
  background-color: #1abc9c;
  color: white;
  height: 100%;
  position: fixed;
  text-align: center;
}
#sidebar header {
  top: 0px;
  padding-top: 30px;
  font-size: 2em;
}
#sidebar header a {
  color: rgba(14, 98, 82, 0.7);
  text-shadow: 0px 0px 4px #def, 0 0 0 #000, 0px 0px 0px #def;
  margin-left: 10px;
}
#sidebar header a:hover {
  color: white;
  text-shadow: none;
}
#sidebar a {
  color: #fff;
}
#sidebar .roundfaces {
  margin-top: 20px;
}
#sidebar .roundfaces .squareface,
#sidebar .roundfaces .roundface {
  display: inline-block;
  vertical-align: middle;
}
#sidebar .squareface,
#sidebar .roundface {
  width: 130px;
  background-color: #fff;
  margin: 0 auto;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 10px solid #fff;
  margin-top: 20px;
}
#sidebar .roundface {
  height: 130px;
  border-radius: 999px;
  margin-top: 60px;
}
#sidebar .roundface.small {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border: 5px solid #fff;
}
#sidebar .user-list {
  list-style: none;
  margin: 0 30px;
}
#sidebar .user-list li {
  text-align: left;
  list-style: none;
  border-bottom: 1px solid #17a689;
  padding: 10px 0;
}
body {
  background-color: #ecf0f1;
}
body.login {
  background-color: #1abc9c;
}
body.login > .container {
  margin-top: 160px;
  margin-bottom: 120px;
}
.login-form {
  background-color: #eceff1;
  border-radius: 6px;
}
.login-form .inside {
  margin: 30px 40px;
}
.login-link {
  color: #bfc9ca;
  display: block;
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
}
.login-field {
  height: auto !important;
}
.login-icon > h4 {
  color: #fff;
  font-size: 17px;
  font-weight: 200;
  line-height: 34px;
  opacity: 0.95;
}
.login-icon > h4 small {
  color: inherit;
  display: block;
  font-size: inherit;
  font-weight: 700;
}
.login-form .login-field-icon {
  color: #bfc9ca;
  font-size: 16px;
  position: absolute;
  right: 13px;
  top: 14px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.icon {
  max-height: 100px;
  max-width: 100px;
  vertical-align: baseline;
}
.stream {
  float: left;
  width: 230px;
  margin-right: 60px;
  margin-bottom: 60px;
}
.previews {
  height: 180px;
  cursor: pointer;
}
.previews:hover .deg30 {
  transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  /* IE 9 */

  -webkit-transform: rotate(5deg);
  /* Safari and Chrome */

}
.previews:hover .deg30m {
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  /* IE 9 */

  -webkit-transform: rotate(-10deg);
  /* Safari and Chrome */

}
.segmented {
  height: 180px;
  width: 230px;
  position: absolute;
  border: 10px dotted #95a5a6;
  border-radius: 20px;
}
.preview {
  background-color: white;
  height: 180px;
  width: 230px;
  box-shadow: 0px 0px 10px #c0cdd1;
  position: absolute;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.preview.deg30 {
  transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  /* IE 9 */

  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  /* Safari and Chrome */

}
.preview.deg30m {
  transform: rotate(-17deg);
  -ms-transform: rotate(-17deg);
  /* IE 9 */

  -webkit-transform: rotate(-17deg);
  /* Safari and Chrome */

}
.preview .image {
  width: auto;
  height: 130px;
  margin: 10px 10px;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.details {
  margin: 0 13px;
}
.details .detail {
  font-size: 0.85em;
  color: #7f8c8d;
}
.index #wrapper {
  margin-top: 40px;
}
.user #wrapper,
.streampg #wrapper {
  margin-top: 27px;
}
#wrapper {
  clear: both;
}
#wrapper header {
  margin-bottom: 40px;
}
#sidemenu {
  margin: 20px;
}
.btn-col {
  width: 75%;
  margin: 0 auto;
}
.faden .preview {
  opacity: 0.4;
}
.faden .default {
  position: absolute;
  text-align: center;
  width: 230px;
  margin-top: 60px;
  color: #3498db;
}
#sidebar .popover.special {
  display: block;
  width: 75%;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
}
#sidebar .popover.special .popover-content {
  color: #34495e;
}
